---
import Header from "../components/Header.astro";
import Api from "../components/Api.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Api</title>
</head>

  <body>
    <Api/>
  </body>
</html>


