---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Amusnetjackpot from "../components/AmusnetJackpot.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Amusnet Jackpot</title>
</head>

  <body>
    <Sidebar />
    <Amusnetjackpot />
  </body>
</html>


