---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Balanceadjust from "../components/BalanceAdjust.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Balance Adjust</title>
</head>

  <body>
    <Sidebar />
    <Balanceadjust/>
  </body>
</html>


