---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Bonusdistributor from "../components/BonusDistributor.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Bonus Distributor</title>
</head>

  <body>
    <Sidebar />
    <Bonusdistributor />
  </body>
</html>


