---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import CashbackBonusDistributor from "../components/CashbackBonusDistributor.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Cashback Bonus Distributor</title>
</head>

  <body>
    <Sidebar />
    <CashbackBonusDistributor />
  </body>
</html>


