---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Cms from "../components/Cms.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Bonus Distributor</title>
</head>

  <body>
    <Sidebar />
    <Cms />
  </body>
</html>


