---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import CMS from "../components/Cms.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | CMS</title>
</head>

  <body>
    <Sidebar />
    <CMS />
  </body>
</html>


