---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Dublicatechecker from "../components/DublicateChecker.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Dublicate Checker</title>
</head>

  <body>
    <Sidebar />
    <Dublicatechecker />
  </body>
</html>


