---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import DublicateChecker from "../components/DublicateChecker.astro";
---

<head>
    <Header />
</head>

  <body>
    <Sidebar />
    <DublicateChecker />
  </body>
</html>


