---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import EgtJackpot from "../components/EgtJackpot.astro";
---

<head>
    <Header />
</head>

  <body>
    <Sidebar />
    <EgtJackpot />
  </body>
</html>


