---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Egtjackpot from "../components/EgtJackpot.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Egt Jackpot</title>
</head>

  <body>
    <Sidebar />
    <Egtjackpot />
  </body>
</html>


