---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
---

<head>
    <Header />
</head>

  <body>
    <Sidebar />
      <main id="main" class="open-sidebar"> </main>
  </body>
</html>


