---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Pendingwithdrawal from "../components/PendingWithdrawal.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Pending Withdrawal</title>
</head>

  <body>
    <Sidebar />
    <Pendingwithdrawal />
  </body>
</html>


