---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Recentwin from "../components/RecentWin.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Recent Win</title>
</head>

  <body>
    <Sidebar />
    <Recentwin />
  </body>
</html>


