---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import SumSub from "../components/SumSub.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | SumSub</title>
</head>

  <body>
    <Sidebar />
    <SumSub />
  </body>
</html>


