---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Syndicatesessions from "../components/SyndicateSessions.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Syndicate Sessions</title>
</head>

  <body>
    <Sidebar />
    <Syndicatesessions />
  </body>
</html>


