---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Syndicatesessionupdate from "../components/SyndicateSessionUpdate.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Syndicate Session Update</title>
</head>

  <body>
    <Sidebar />
    <Syndicatesessionupdate />
  </body>
</html>


