---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import SyndicateSessions from "../components/SyndicateSessions.astro";
---

<head>
    <Header />
</head>

  <body>
    <Sidebar />
    <SyndicateSessions />
  </body>
</html>


