---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import TournamentData from "../components/TournamenData.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Tournament Data</title>
</head>

  <body>
    <Sidebar />
    <TournamentData />
  </body>
</html>


