---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import UsersData from "../components/UsersData.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Users Data</title>
</head>

  <body>
    <Sidebar />
    <UsersData />
  </body>
</html>


