---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import WgCalculator from "../components/WgCalculator.astro";
---

<head>
    <Header />
</head>

  <body>
    <Sidebar />
    <WgCalculator />
  </body>
</html>


