---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Wgcalculator from "../components/WgCalculator.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | Wg Calculator</title>
</head>

  <body>
    <Sidebar />
    <Wgcalculator />
  </body>
</html>


