---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Wifishare from "../components/Wifishare.astro";
---

<head>
    <Header />
    <title>Ambassadori BO | WiFi Share</title>
</head>

  <body>
    <Sidebar />
    <Wifishare />
  </body>
</html>


