<main id="main" class="open-sidebar">
  <iframe
    class="content-iframe"
    id="contentFrame"
    src="https://backoffice.samsara.ge/iframes/Bonus-Distributior.html"></iframe>
</main>
<a
  style="all: unset; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); border: solid 3px rgb(4,0,54,.2); border-radius: 10px;; cursor: pointer; background-image: radial-gradient(rgb(255,255,255,.4),rgb(199,199,199,.4)); color: rgb(11, 0, 58); padding: 10px; position: absolute; left: 50%; bottom: 17%; transform: translate(-50%,-50%);"
  href="https://amb-bo.netlify.app/assets/example.xlsx">Download Example File</a>
<style>
  a {
    transition: all ease-in-out 300ms;
    &:hover {
      color: rgb(26, 0, 141) !important;
      background-image: radial-gradient(rgb(255,255,255,.6),rgb(199,199,199,.6)) !important;
    }
  }
</style>