  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" size="32x32"
    href="https://images.takeshape.io/5da2b4d5-59f6-412a-82c3-f6a272b532be/dev/cda13f53-c31b-4736-8c01-ff63a3197a4a/32x32.png" />
  <link rel="icon" type="image/svg+xml"
    href="https://images.takeshape.io/ab111b19-bba2-4cbc-88b1-02bc9b72a93a/dev/0f64b6fb-3f28-4beb-82cd-e6a71fccdf5d/32x32%20(2).svg" />
  <link rel="apple-touch-icon"
    href="https://images.takeshape.io/5da2b4d5-59f6-412a-82c3-f6a272b532be/dev/82101b74-4f8e-40e4-afc0-924b794c7834/180x180.png" />
  <title>Ambassadori BO</title>
  <link rel="stylesheet" href="/style/style.css">
  <script src="/scripts/main.js" type="module"></script>