---
import Dock from "../components/Dock.astro";
---

<button class="menu-toggle" onclick="toggleMenu()">☰</button>
<nav id="sidebar" class="open">
  <div class="logo">
    <button style="all: unset; cursor: pointer" onclick="window.location.href = '/'">
      <img
        src="https://images.takeshape.io/ab111b19-bba2-4cbc-88b1-02bc9b72a93a/dev/0f64b6fb-3f28-4beb-82cd-e6a71fccdf5d/32x32%20(2).svg"
        alt="Logo" width="44" height="44" />
    </button>
  </div>
  <ul>
    <!-- Users Category -->
    <li class="category" data-category="users">
      <a href="#">Users</a>
      <ul class="submenu">
        <li><a class="deprecated" href="/loot-boxes">User's Loot Boxes</a></li>
        <li><a class="new" href="/usersdata">Contact Info</a></li>
        <li><a href="/dublicate-checker">Dublicate Checker</a></li>
        <li><a href="/recent-win">Latest Wins</a></li>
      </ul>
    </li>

    <!-- Jackpots Category -->
    <li class="category" data-category="jackpots">
      <a href="#">Jackpots</a>
      <ul class="submenu">
        <li><a href="/egt-jackpot">EGT Digital</a></li>
        <li><a href="/amusnet-jackpot">Amusnet</a></li>
      </ul>
    </li>

    <!-- Betpool Category -->
    <li class="category" data-category="betpool">
      <a href="#">Betpool</a>
      <ul class="submenu">
        <li><a href="/syndicate-sessions">Session Stats</a></li>
        <li><a href="/syndicat-session-update">Validity Update</a></li>
      </ul>
    </li>

    <!-- Distributors Category -->
    <li class="category" data-category="distributors">
      <a href="#">Distributors</a>
      <ul class="submenu">
        <li><a href="/bonus-distributor">Bonuses</a></li>
        <li><a href="/cashbackbonusdistributor">Cashback</a></li>
      </ul>
    </li>

    <!-- Stats Category -->
    <li class="category" data-category="stats">
      <a href="#">Stats</a>
      <ul class="submenu">
        <li><a class="new" href="/tournamentdata">Tournament</a></li>
        <li><a href="/pending-withdrawal">Pending WD</a></li>
      </ul>
    </li>

    <!-- API stays separate -->
    <li>
      <a style="color: rgb(122, 202, 122);" href="/amb-api-doc">API</a>
    </li>
  </ul>
</nav>
<Dock/>